<button (click)="getDataFromApi()">get data from Api</button>
<button (click)="resetForm()">reset</button>

<div [formGroup]="form">
  <div>
    <h1>Parent</h1>
    <input type="text" formControlName="itemGroup" placeholder="itemGroup" />
    <input
      type="text"
      formControlName="categoryItem"
      placeholder="categoryItem"
    />
    <input
      type="number"
      formControlName="categoryId"
      placeholder="categoryId"
    />
  </div>
  <div formArrayName="listChild" style="margin-left: 50px">
    <div>
      <h3>Sub Child</h3>
      <button (click)="addChild()">add Child</button>
    </div>
    <div
      *ngFor="let child of listChild().controls; let i = index"
      [formGroupName]="i"
      style="margin: 10px 0px"
    >
      <span>child index: {{ i }} </span>
      <div>
        <input
          type="text"
          formControlName="childItem"
          placeholder="childItem"
        />
        <input type="number" formControlName="childId" placeholder="childId" />
        <button (click)="deleteChild(i)">delete</button>
      </div>

      <div formArrayName="listSubChild" style="margin: 10px 50px">
        <button (click)="addItem(i)">add Sub Child</button>
        <div
          *ngFor="let subChild of listSubChild(i).controls; let j = index"
          [formGroupName]="j"
          style="margin: 5px"
        >
          <span>subChild index: {{ j }}</span>
          <div>
            <input
              type="text"
              formControlName="itemType"
              placeholder="itemType"
            />
            <input
              type="text"
              formControlName="itemBrand"
              placeholder="itemBrand"
            />

            <!-- <button (click)="duplicateItem(i, j)">duplicate</button> -->
            <button (click)="deleteItem(i, j)">delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<pre><br>result: {{ form.value | json }} </pre>
